[flake8]
application-import-names = app
extend-ignore = PD005
                PD006
                PD011
                B008
inline-quotes = "
multiline-quotes = """
docstring-quotes = """
avoid-escape = False
max-complexity = 10
max-line-length = 120
import-order-style = pycharm
statistics = True
per-file-ignores = __init__.py:F401
exclude =
    config.py,
    *test*
